#!/usr/bin/make -f

REG = debian/librust-evl-sys-dev/usr/share/cargo/registry/evl-sys-@VERSION@

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	:

override_dh_auto_test:
	:

override_dh_auto_install:
	install -d $(REG)
	cp -a Cargo.toml build.rs LICENSE src vendor $(REG)/
	for f in *.h *.c; do \
		[ -e "$$f" ] || continue; \
		cp -a "$$f" $(REG)/; \
	done
	echo '{"files":{}}' > $(REG)/.cargo-checksum.json
